.App {
  text-align: center;
}
.app-title {
  margin: 1em auto;
}
form {
  width: 100%;
  margin: 2em auto 1em auto;
  text-align: center;
  
}
.zipcode {
  height: 40px;
  width: 200px;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1px 8px;
}
.cityInfo {
  font-weight: bold;
  font-size: 1.2em;
  margin: 1em auto 2em auto;
}
.temp-list {
  width: 70%;
  margin: 1em auto 4em auto; 
}
.group {

}
.group-title {
  font-size: 1.2em;
    margin: 0.8em;
}
.list-item {
  margin: 5px auto;
  display: flex;
  text-align: left;
}
.list-item:nth-child(odd) {
  background-color: #f2f4f7;
}
.list-item .item {
  width: 50%;
  padding-left: 25%;
}
